<script type='text/javascript'>
  window.images = {
    doppler_logo_w: '<%= image_url('icons/doppler_logo_white.svg') %>',
    doppler_logo_b: '<%= image_url('icons/doppler_logo_black.svg') %>',
    logo2: '<%= image_url('icons/lambda_logo.svg') %>',
    home: '<%= image_url('icons/home.svg') %>',
    library: '<%= image_url('icons/library.svg') %>',
    search: '<%= image_url('icons/search.svg') %>',
    modal_close: '<%= image_url('icons/modal_close.svg') %>',
    playlist_hold: '<%= image_url('playlist_holder.png') %>',
    music_note: '<%= image_url('icons/music_note.svg') %>',
    music_play: '<%= image_url('icons/music_play.svg') %>',
    player_play: '<%= image_url('icons/player_play.svg') %>',
    player_pause: '<%= image_url('icons/player_pause.svg') %>',
    player_next: '<%= image_url('icons/player_next.svg') %>'
  }
</script>

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>



<main id="root"></main>